# Binaries
*.exe
*.dll
*.pdb

*.user
*.suo
*.cache
*.log
*.vscode
.vs/

.idea/

packages/
*.nupkg

.vscode/
*.sln
*.csproj

bin/
obj/

**/bin/
**/obj/

Publisher_Lambda/src/Publisher_Lambda/obj/Debug/net6.0/Publisher_Lambda.AssemblyInfoInputs.cache
Consumer_Lambda/src/Consumer_Lambda/obj/project.assets.json
.vs/Publisher_Lambda/xs/project-cache/Consumer_Lambda-Debug.json
.vs/Publisher_Lambda/xs/project-cache/Publisher_Lambda-Debug.json
Consumer_Lambda/src/Consumer_Lambda/obj/Consumer_Lambda.csproj.nuget.g.props
Consumer_Lambda/src/Consumer_Lambda/obj/project.nuget.cache
Consumer_Lambda/src/Consumer_Lambda/obj/project.packagespec.json
Consumer_Lambda/src/Consumer_Lambda/obj/rider.project.restore.info
Consumer_Lambda/src/Consumer_Lambda/obj/Debug/net6.0/Consumer_Lambda.AssemblyInfo.cs
Consumer_Lambda/src/Consumer_Lambda/obj/Debug/net6.0/Consumer_Lambda.assets.cache
Consumer_Lambda/src/Consumer_Lambda/obj/Debug/net6.0/Consumer_Lambda.csproj.AssemblyReference.cache
Consumer_Lambda/src/Consumer_Lambda/obj/Debug/net6.0/Consumer_Lambda.GeneratedMSBuildEditorConfig.editorconfig
Publisher_Lambda/.DS_Store
Publisher_Lambda/src/Publisher_Lambda/obj/project.assets.json
Publisher_Lambda/src/Publisher_Lambda/obj/project.nuget.cache
Consumer_Lambda/src/Consumer_Lambda/obj/Debug/net6.0/Consumer_Lambda.AssemblyInfoInputs.cache
Publisher_Lambda/src/Publisher_Lambda/obj/project.packagespec.json
Publisher_Lambda/src/Publisher_Lambda/obj/Publisher_Lambda.csproj.nuget.dgspec.json
Publisher_Lambda/src/Publisher_Lambda/obj/rider.project.restore.info
Publisher_Lambda/src/Publisher_Lambda/obj/Publisher_Lambda.csproj.nuget.g.props
Publisher_Lambda/src/Publisher_Lambda/obj/Debug/net6.0/Publisher_Lambda.AssemblyInfo.cs
Publisher_Lambda/src/Publisher_Lambda/obj/Debug/net6.0/Publisher_Lambda.assets.cache
Publisher_Lambda/src/Publisher_Lambda/obj/Debug/net6.0/Publisher_Lambda.AssemblyInfoInputs.cache
Publisher_Lambda/src/Publisher_Lambda/obj/Debug/net6.0/Publisher_Lambda.csproj.AssemblyReference.cache
Publisher_Lambda/src/Publisher_Lambda/obj/Debug/net6.0/Publisher_Lambda.GeneratedMSBuildEditorConfig.editorconfig
Publisher_Lambda/test/.DS_Store
.vs/Publisher_Lambda/xs/UserPrefs.xml
.DS_Store
